{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Вход</h2>

    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Вход</button>
    </form>

    <h3>или ...</h3>

    <a href="{% provider_login_url 'google' %}">
        <button type="button">Зайти с учётной записью Google</button>
    </a>

</body>
</html>